<h1>{{pagetitle}}</h1>

<div class="card">
    <form method="POST" action="/addpost">
        <label><h2>Create your post</h2></label>
        <p>Title of your post</p><input type="text" name="title">
        <p>Context of your post</p><textarea name="context"></textarea>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</div>

<div class="cards">
  {{#each posts}}
    <div class="card">
      <h2>{{this.title}}</h2>
      <p>{{this.context}}</p>
      <p>Posted: {{moment this.post_date format="DD-MM-YYYY"}}</p>
      <form action="/posts/{{id}}?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
      </form>
      <a href="/posts/{{id}}/edit">Edit</a>
    </div>
  {{/each}}
</div>
