<html lang="en">
<h1>{{pagetitle}}</h1>
<h2><a href="/admin">Go back</a></h2>

<div class="card">
    <form method="POST" action="/addproduct" enctype="multipart/form-data">
        <label><h2>Create new product</h2></label>
        <br>
        <p><label for="productName">Name of your product:</label></p>
        <input type="text" name="product" id="productName">
        <br><br>
        <p><label for="productPrice">Price of your product:</label></p>
        <input type="number" name="price" id="productPrice">
        <br><br>
        <p><label for="productDescription">Description of your product:</label></p>
        <input type="text" name="description" id="productDescription">
        <br><br>
        <p><label for="productSize">Size of your product:</label></p>
        <input type="text" name="size" id="productSize">
        <p>Upload an image</p><input type="file" name="image" value="">
        <br><br>
        <button type="submit">Submit</button>
    </form>
    <br>
</div>
<br>
<div class="cards">
    {{#each products}}
        <div class="cardsinside">
            {{#if this.img.data}}
            <p><img src="data:{{this.img.contentType}};base64,{{base64 this.img.data}}" width="20%" title="{{this.product}}"/></p>
            {{/if}}
            <p><b>Tuote: </b>{{this.product}}</p>
            <p><b>Hinta: </b>{{this.price}}€</p>
            <p><b>Tuotekuvaus: </b>{{this.description}}</p>
            <p><b>Koko:</b>{{this.size}}</p>
            <form action="/products/{{id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
        </div>
    <br>
    {{/each}}
</div>
<h2><a href="/admin">Go back</a></h2>

</html>