
<h1>{{pagetitle}}</h1>


<div class="cards">
    {{#each posts}}
        <div class="cardsinside">
            <p><img src="data:{{this.img.contentType}};base64,{{base64 this.img.data}}" width="40%" title="{{this.title}}"/></p>
            <h2>{{this.title}}</h2>
            <p style="white-space: pre-line">{{this.context}}</p>
            <p><i>Posted: {{moment this.post_date format="DD-MM-YYYY"}}</i></p>
        </div>
        <br><br>
    {{/each}}

</div>