<h1>{{pagetitle}}</h1>


<div class="cards">
    {{#each products}}
        <div class="card">
            <h2>{{this.product}}</h2>
            <h2>{{this.price}}</h2>
            <h2>{{this.description}}</h2>
            <h2>{{this.size}}</h2>
            <p>Toimiiko tää ollenkaan</p>
        </div>
    {{/each}}
</div>